body{
    box-sizing:border-box;
    margin:0 auto;
    color:white;
    background-image:url('background.jpg');
    background-size:cover;
    width:80%;
}


.black-jack{
    display:flex;
    flex-direction:column;
   align-items:center;
}
.scores{
  
}
.cards{
    display:flex;
}
.cards-slot {
    border: 1px solid black;
   height: 500px;
    width: 320px;
    margin: 25px 30px;
   
}
.hidden {
    display: none;
}
.startgame {
    background-color: #8e44ad;
    color: white;
}
.btn {
    margin: 20px 20px;
    border-radius: 5px;
    padding: 5px 25px;
    color: #030303;
}
.startgame {
    background-color: #8e44ad;
    color: white;
}

.newGame {
   background-color: #e84118;
   color:white;
}
.hit {
    background-color: #f1c40f;
}
.stand {
    background-color: #e67e22;
}
.deal {
    background-color: #c0392b;
}
table, td, th {
    border: 1px solid #ecf0f1;
}

.card{
    width:100px;
    height:150px;
    padding:2px;
}

.pop-up {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    margin: auto;
    height: 300px;
    width: 500px;
    background-color: #227dd7;
    color: white;
    display: none;
}
    .pop-up > div {
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
    }

.instructions {
    background-color: #f1c40f;
}

ol